*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 80px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


ul{
    display: flex;
    list-style: none;
    gap:20px;
    font-weight: bold;
    font-size: 19px;
}


.main{
    height: 250px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;

      display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.section{
    height: calc(100vh - 330px);
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.article{
    height: 250px;
    background-color: rgb(202, 128, 128);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dark{
    height: 200px;
    width: 250px;
    background-color: black;
    color:white;
    border-radius: 20px;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.light{
    height: 200px;
    width: 250px;
    background-color: white;
    
    border-radius: 20px;
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.dark > a , .light >a {
    text-decoration: none;
    color:blue;
    font-size: 18px;
}

.users{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    padding-top:20px ;
}

.card{
    height: 200px;
    width: 250px;
    background-color: white;
    color:black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.card > img{
    height: 50px;
}